<%-include('../partial/head.ejs') %>
<link rel="stylesheet" href="/style/dashboard.css">
</head>

<body>
  <%-include('../partial/navigation.ejs') %>

  <div class="container">
    <%-include('../partial/suceess_msg.ejs', { success_msg: success_msg}) %>
    <%-include('../partial/error_msg.ejs', { error_msg: error_msg}) %>

    <% if(passport_error){%>
    <div class="flash danger-message flash-show"><%=passport_error %></div>
    <% } %>


    <div class="dashboard">
      <h2 class="dashboard__title">User Dashboard</h2>

      <form class="" action="/auth/upload-profile-photo" method="post" enctype="multipart/form-data">
        <input class="upload-profile-photo" type="file" name="image">
        <button type="submit">upload</button>
      </form>

      <div class="dashboard__image__container">
        <div class="dashboard__photo">
          <img src="/images/cover.jpg" alt="cover-photo" class="dashboard__photo_cover">
          <img src="/<%=user.avatar %> " alt="profile-photo" class="dashboard__photo_profile">
        </div>
      </div>

      <form action="/auth/change-profile-photo" method="post" enctype="multipart/form-data">
        <div class="preview_picture_container dn"></div>
        <input class="change-profile-photo" type="file" name="image">
        <button type="submit">Change Profile Pic</button>
      </form>
      
      <h2 class="dashboard__name">John Doe</h2>
      <h3 class="dashboard__education">BCS from National University</h3>
      <h3 class="dashboard__profession">Web Developer and Freelancer</h3>
      <p class="dashboard__exprience">
        <strong>HTML</strong>
        <strong>CSS3</strong>
        <strong>Javascript</strong>
        <strong>Node js</strong>
        <strong>React</strong>
        <strong>Mongodb</strong>
        <strong>Express</strong>
        <strong>Mern Stack</strong>
      </p>
      <p class="dashboard__description">
        Hi, I am X, I am a professional full stack web developer, Recently I work with many project.
        I stick with in about more than 5 years.
        My main target is give my Client better Exprerience.
        I also give my client end of project a admin guide video.
        Hope you will hire me. Take care and Bye Bye.
      </p>

      <div class="user-about_section">
        <h4 class="first__name">First Name: John</h4>
        <h4 class="last__name">Last Name: John</h4>
        <h4 class="email">Email: john@gmail.com</h4>
        <h4 class="phone">Phone: +333454395 </h4>
        <h4 class="gender">Gender: Male</h4>
      </div>
    </div>
  </div>

  <%-include('../partial/footer.ejs') %>
  <%-include('../partial/end.ejs') %>