<%-include('../partial/head.ejs') %>
<link rel="stylesheet" href="/style/auth.css">
</head>

<body>
  <%-include('../partial/navigation.ejs') %>

  <div class="container">
    
      <%-include('../partial/suceess_msg.ejs', { success_msg: success_msg}) %>
      <%-include('../partial/error_msg.ejs', { error_msg: error_msg}) %>

    <div class="form-container">
      <h2>Create an Account</h2>
      <div class="signwith-google">
        <p class="signwith-google-button">
          <i class="signup-icon fab fa-google-plus" aria-hidden="true"></i>
          <a href="#">Sign up with Google</a>
        </p>
        <p>or</p>
      </div>

      <form action="/auth/signup" method="post">
      
        <div class="form-group">
          <label for="">Username</label>
          <div class="input-and-alert">
            <%if(error.username) { %> 
              <div class="error error-message"><%=error.username %></div>
            <% } %>
            <input 
            class="<%=error.username ? 'error-input' : '' %>"
            value="<% if(oldInput.username){%><%=oldInput.username %><%}%>" 
            type="text" name="username" 
            placeholder="User Name">
          </div>
        </div>

        <div class="form-group">
          <label for="">Email</label>
          <div class="input-and-alert">
              <%if(error.email) { %> 
                <div class="error error-message"><%=error.email %></div>
              <% } %>
            <input 
              class="<%=error.email ? 'error-input' : '' %>"
              value="<% if(oldInput.email){%><%=oldInput.email %><%}%>" 
              type="email" name="email" 
              placeholder="Enter Your Email">

          </div>
        </div>

        <div class="form-group">
          <label for="">Password</label>
              <div class="input-and-alert">
                  <%if(error.password) { %> 
                    <div class="error error-message"><%=error.password %></div>
                  <% } %>
                <div class="input">
                  <input 
                    class="password <%=error.password ? 'error-input' : '' %>"
                    value="<% if(oldInput.password){%><%=oldInput.password %><%}%>" 
                    type="password" 
                    name="password" 
                    placeholder="Password">
                  <i class="show-password  fa fa-eye" aria-hidden="true"></i>
                  </div>
              </div>
        </div>

        <div class="form-group">
          <label for="">Confirm Password</label>
          <div class="input-and-alert">
              <%if(error.confirmPassword) { %> 
                <div class="error error-message"><%=error.confirmPassword %></div>
              <% } %>
              <div class="input">
                <input 
                  class="password <%=error.confirmPassword ? 'error-input' : '' %>"
                  value="<% if(oldInput.confirmPassword){%><%=oldInput.confirmPassword %><%}%>" 
                  type="password"
                  name="confirmPassword"
                  placeholder="Confirm Password">
                <i class="show-password  fa fa-eye" aria-hidden="true"></i>
              </div>
          </div>
        </div>

        <button class="btn btn-register">Register</button>
      </form>
      
    </div>
  </div>
  
  <%-include('../partial/footer.ejs') %>
  <%-include('../partial/end.ejs') %>